Source: ros-indigo-orocos-toolchain
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-orocos-toolchain
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-catkin, ros-indigo-log4cpp, ros-indigo-ocl, ros-indigo-orogen, ros-indigo-rtt, ros-indigo-rtt-typelib, ros-indigo-typelib, ros-indigo-utilrb
Description: This package provides the entire orocos_toolchain
